extends layout
block content
  div#gradient
    h1 Anxiety Tracker
    p Please put on your Muse headset
    div#container
      a#circle.o__start(href="#")
    p(style="margin-top: 250px;") Just relax, and listen for the high pitched beep&nbsp
      i.fa.fa-smile-o