extends layout
block content
  div#gradient
    h1 Muse Anxiety Tracker
    p#uppertext Please put on your Muse headset and press play
    div#container
      a#circle.o__start(href="#")
    p#lowertext(style="margin-top: 250px;") Just relax, and listen for the high pitched beep&nbsp
      i.fa.fa-smile-o
    div
      br
      a#bottomlink(href="#") Go To Chart